/* General */
* {
  font-family: "Jost";
  color: white;
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #212523;
  height: 100vh;
}

/* Canvas */
.canvas {
  border: solid;
  border-width: 2px;
  border-color: white;
}

.containerCanvas {
  display: flex;
  flex-direction: column;
}

/* Dashboard */
.containerCanvasDashboard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 0;
  padding-bottom: 200px;
}

.containerDashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
  width: 400px;
}

.containerTotalGraph {
  width: 400px;
}

/* Graphique */
.containerGraph {
  width: 400px;
  margin-bottom: 25px;
  display: flex;
}

.graph {
  height: 30px;
  transition: width 500ms ease;
}

.graphTransitionPlus {
  transform: translate(4px, 150px) rotate(20deg);
}

.legend {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 420px;
}

.icon {
  width: 7px;
  height: 7px;
  margin-bottom: 4px;
}

.legendItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 13px;
  width: 100px;
}

/* Choices */
.descrip {
  font-family: "Jost";
  font-weight: 100;
  font-size: 11px;
}

.title {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 300;
}

.button {
  width: 100px;
  height: 35px;
  background-color: #212523;
  color: white;
  border-radius: 7px;
  font-size: 15px;
  font-weight: 100;
}

.button:focus {
  outline: none;
}

.containerButton {
  margin-top: 25px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}
