/* General */
* {
  font-family: "Jost";
  color: white;
  margin: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* Canvas */
.canvas {
  border: solid;
  border-width: 2px;
  border-color: white;
}