.container {
  text-align: center;
  background-color: #212523;
  padding-top: 100px;
  height: 100vh;
}

.canvas {
  border:solid;
  border-width: 2px;
  border-color: white;
}

.containerCanvasDashboard{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 0;
}

.containerDashboard{
  display: flex;
  align-items: flex-start;
  margin-left: 60px;
}